
.homepage {
  h1,p {
    text-align: center;
  }
  // img {
  //   width: 100%;
  //   height: 100%;
  // }
  ul {
    max-height: 100% !important;
  }
}
.index-content {
  section {
    width: 50%;
    float: left;
    height: 33.33%;
  }
}